.swatch {
  min-height: 200px;
  padding: 1em;
  width: 100%;

  @media (min-width: 750px) {
    width: 50%;
  }

}

.swatch--primary-color {
  background-color: $primary-color;
  color: $white;
}

.swatch--secondary-color {
  background-color: $secondary-color;
  color: $white;
}

.swatch--tertiary-color {
  background-color: $tertiary-color;
}

.swatch--black {
  background-color: $black;
  color: $white;
}

.swatch--white {
  background-color: $white;
}



